<h2 id="title">Welcome to Ember.js</h2>

This is the <code>{{model.routeName}}</code> Handlebars template.
But it was rendered on the server through FastBoot.

<br>

<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" alt="Ember mascot" width=300>

{{outlet}}
